#ignore following

in_amir.polymer
moving_average.py
cylinderical_brush.py
cylinder_made_of_particles.py
generate-random-particles.py
generate_RingPolymer_Solvent-2.py
generate_RingPolymer_Solvent.py
generate_Sphere_paper_method.ipynb
generate_blockpolymer_crowder.py
generate_lamfile.py
generate_many_polymer-crowder.py
generate_polymer_crowder-2.py
plotly_straight_poly_general.py

generate_RingPolymer.ipynb
AddingCrowderToRingPolymers.ipynb
make_lammps_polymer_brush_with_end_with_solvent.tclplot_loglammps.ipynb
make_grafter_cylinder_with_crowders-new.ipynb
generate_Sphere_paper_method.ipynb

make_lammps_polymer_brush_with_end_with_solvent.tcl

generate-input/
minimize/




